/******************************* background color *******************************/

/*header*/

#color0{
	background-color: #BCA224;
    height: 280px; 
    padding: 0px; 
/*    box-shadow: 10px 10px 5px #888888;*/
}

#color1{
	background-color: #7DA038  ;
    height: 280px;  
}

#color2{
	background-color: #2494B2;
    height: 280px;
}

.col-xs-12.menu.ng-scope#color0{
    height: 20%;
}

.col-xs-12.menu.ng-scope#color1{
    height: 20%;
}

.col-xs-12.menu.ng-scope#color2{
    height: 20%;
}


/*header expand*/

/*
div.col-xs-1#color0{
    background-image: url(../img/paper.png);
}

div.col-xs-1#color1{
    background-image: url(../img/apple.png);
}

div.col-xs-1#color2{
    background-image: url(../img/container.png);
}
*/

/*item list*/

div.col-xs-12#MixedPaper{
	background-color: #EAD226;
    height: 30%;
}

div.col-xs-12#GreenBin{
	background-color: #8CC63F;
    height: 3%;
}

div.col-xs-12#RecyclableContainer{
	background-color: #29ABE2;
    height: 3%;
}

/*item list flip*/

div.detail#MixedPaper{
	background-color: #BCA224;
}

div.detail#GreenBin{
	background-color: #7DA038;
}

div.detail#RecyclableContainer{
	background-color: #2494B2;
}

.page-header{
    background-color: white;
}

.container.ng-scope{
    background-color: white;
}

.container{
    background-color: white;
    margin-bottom: 10%;
}

/******************************* font *******************************/

h1{
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; 
    text-align: center;
}

h1.ng-binding{
    margin-bottom: -15px;
}


h2{
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
}

h2.landingpage{
    color: #3e403e;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}

h2.ng-binding{
    color: white;
}

h3{
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0.6;  
    text-align: center;
}

p {
    color: white;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 100;
}

p.detail-content {
	font-size: 14px;
	padding: 20px 50px;
}

h1.header{
    color: black;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
}

p.header{
    color: black;
    text-align: center;
    opacity: 0.7;
}


/******************************* image *******************************/

img.navIcon {
    display: block;
	width:25%;
	height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    opacity: 1;
}

img{
    width: 15%;
    height: 10%;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.8;
}

img.homeButton{
    width: 40%;
    height: auto;
	display: block;
    opacity: 0.8;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img.homelogo{
    padding-top: 30%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

img.menuIcon{
    width: 15%;
}
/******************************* div *******************************/

.row {
    margin-bottom: 0px;
}

.no-border
{
    border: none;
    margin: 0;
    margin-top:0;
    margin-bottom:0;
    padding: none;
}

.landingpage{
    position: relative;
}

.col-xs-12.menu.ng-scope{
    background-color: white;
    float: none;
}

.detail {
	padding-bottom: 6px;
}

.col-xs-10{
}

/******************************* search *******************************/

.searchBar{
    background-color: white;
    position: fixed;
    top: 94%;
    right: 0.1%;
    width: 100%;
/*    border-top: 10px;*/ 
}

.search{
    padding:1% 24% 1% 8%;
	margin:1%; 
	background-image: url(../img/search.png);
}

form{
	width:113%;
	margin:0;
}

input[type=button], input[type=button]:hover {
	position:relative; 
	cursor: pointer;
    
    background: none;
    background-color:none;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #8CC63F;
	display:inline-block;
	cursor:pointer;
	padding:5px 15px;
    
	text-decoration:none;
    font-family: 'Ubuntu', sans-serif;
    color: #8CC63F;
}


/******************************* button *******************************/

.myButton {
	background-color:none;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #8CC63F;
	display:inline-block;
	cursor:pointer;
	padding:8px 18px;
    
	text-decoration:none;
    font-family: 'Ubuntu', sans-serif;
    color: #3e403e;
}

.myButton:hover {
    background-color:#8CC63F;
    text-decoration:none;
    color: white;
}

.myButton:active {
	position:relative;
	top:1px;
}

.button{    
    text-align: center;
    padding-top: 10%;
}

.categoryButton{
    background-color:none;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #8CC63F;
	display:block;
    text-align: center;
	cursor:pointer;
    
	text-decoration:none;
    font-family: 'Ubuntu', sans-serif;
    color: #3e403e;
}










