<div class="container">
	<a href='#/main'>
        <img class="homeButton" src="./img/home2.png" alt="home"></img>
    </a>
	
	<div class="row">
		<a ng-repeat="(key, value) in recycleList" href="#/{{ value.name }}">
            <div ng-class="navGrid{{key}}" id="color{{key}}">
                <div ng-show="navText{{key}}">
				    <img class="navIcon" src="./img/{{ value.imgurl }}.png" alt="{{ value.imgurl }}">
                        <h1>{{ value.name }}</h1>
                        <h3>{{ value.subtitle }}</h3>
                        <p>{{ value.descrip }}</p>
                </div>	
			</div>
        </a>
	</div>
	
<!--------------- item list ------------->
    
	<div class="row">	
		<div class="col-xs-12" ng-repeat="(key, value) in selectItem(recycleData) | filter:query | orderBy:orderProp" id="{{itemColor}}">         
			<div ng-show="!showDescription" ng-swipe-left="showDescription = true">
				<h2><img ng-src="{{value.imageUrl}}">{{ value.name }}</h2>
			</div>	
			<div class="detail" ng-show="showDescription" ng-swipe-right="showDescription = false" id="{{itemColor}}">
				<p class="detail-content">{{ value.description }}</p>
			</div>			
		</div>
	</div>	
</div> 

<div class="searchBar">
    <form>
<!--        Search: <input ng-model="query">-->
        <span>
            <input ng-model="query" class="search square">
            <input type="button" value="Search">
        </span>
    </form>
</div>

	
